[user]
	name = Aidan Miles
	email = aidan.miles@piksel.com
[credential]
	helper = osxkeychain
[core]
	editor = vim -w
	excludesfile = ~/.gitignore_global
[push]
	default = current
[alias]
	st = status
	co = checkout
	cob = checkout -b
	cm = commit -m
	df = diff
	br = branch
	db = branch -D
