[user]
	name = Aidan Miles
	email = itsthejazzkid@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = vim -w
	excludesfile = /Users/someguy/.gitignore_global
[alias]
	st = status
	co = checkout
	cob = checkout -b
	cm = commit -m 
	df = diff
